.tabs {
  @include display(flex);
  margin: 1em 0;
  white-space: nowrap;

  padding-left: 0;
  margin-bottom: 0;
  list-style: none;

  border-bottom: 1px solid $nav-tabs-border-color;

  &,
  ul {
    padding-left: 0;
    list-style: none;
  }

  a {
    padding: 1em;
  }
}

.tabs > li:not(.in-dropdown) {
  @include flex-grow(0);
  @include flex-shrink(0);

  // Move down one pixel to sit on top of the ul's border-botto
  margin-bottom: -1px;

  + .tab:not(.tabs-overflowed) {
    margin-left: .2rem;
  }

  > a {
    display: block;
    padding: $nav-link-padding;
    border: $nav-tabs-link-border-width solid transparent;
    @include border-radius($border-radius $border-radius 0 0);
    line-height: 1.5;

    @include hover-focus {
      border-color: $nav-tabs-link-hover-border-color $nav-tabs-link-hover-border-color $nav-tabs-border-color;
    }
  }

  &.active > a,
  &.active:hover {
    @include plain-hover-focus {
      color: $nav-tabs-active-link-hover-color;
      background-color: $nav-tabs-active-link-hover-bg;
      border-color: $nav-tabs-active-link-hover-border-color $nav-tabs-active-link-hover-border-color transparent;
    }
  }
}

.tabs-overflowed.tabs > li:not(.tabs-dropdown) {
  @include flex-grow(1);
  @include flex-shrink(1);
}

.tabs-dropdown {
  position: relative;

  .tabs:not(.tabs-overflowed) & {
    display: none;
  }

  > a {
    position: relative;
    z-index: 1;

    &:before {
      content: "\f107";
      font-family: FontAwesome;
      -webkit-font-smoothing: antialiased;
    }
  }

  &:hover > a {
    background: white;
  }

  &:not(:hover) ul {
    display: none;
  }

  ul {
    @include position(absolute, calc(100% - 1px) 0 null null);
    z-index: 1;
  }
}

.tabs li.in-dropdown {
  a {
    display: block;
    border: 1px solid $color-border;
    background: white;
  }

  &:not(:first-child) a {
    border-top: none;
  }

  &:last-child a {
    border-radius: 0 0 3px 3px;
  }
}
