#taxonomy_tree {
  padding: 0 3em;

  &,
  ul {
    list-style: none;
  }

  ul {
    background: rgba(0,0,0,0.2);
  }

  li:not(.sortable-dragging):not(.sortable-placeholder) > ul {
    min-height: 1em;
    padding-bottom: 2em;
  }

  .ui-sortable {
    margin-bottom: 0.5em;
  }

  .taxon,
  .sortable-placeholder {
    border-radius: $border-radius;
    min-height: 2.5em;
  }

  .taxon {
    background-color: very-light($color-3);
    border: 1px solid $color-border;
    color: $body-color;
    font-weight: $font-weight-bold;
    padding: 0.5em;

    &.sortable {
      cursor: move;
    }

    i {
      margin-right: 4px;
      margin-bottom: 0;
      margin-left: 6px;
    }

    .actions a {
      margin-left: 8px;
    }
  }

  .ui-sortable-over {
    padding-bottom: 1em;
  }

  li:first-child {
    margin-top: 1em;
  }
}
